body{
    background-color: #5394A3;
    font-family: 'Roboto', sans-serif;
}

.reg{
    margin: 0 auto;
    width: 250px;
    display: flex;
    flex-direction: column;
}

button{
    width: 252px;
    height: 27px;
    margin-top: 30px;
    border-radius: 8px;
    border: 0;
    background-color: #D64545;
    font-size: 500;
}

button:active{
    background-color: #b4c48b;
}

input{
    width: 250px;
    height: 25px;
    margin-top: 30px;
    border-radius: 8px;
    border: 0;
    background-color: #C4C4C4;
    font-size: 500;
    transition: 0.2s;
}

input:focus, input:hover{
    background-color: #e7e7e7;
    width: 270px;
    height: 30px;
}

input::placeholder{
    color: #000000;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 500;
}

.div-checkbox > input{
    width: 15px;
    height: 15px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}